*{
padding: 0px;
margin: 0px;
font-family: 'Montserrat', sans-serif;


}
/* nav container */
.nav-contaniner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./new-year-new-me-main/images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
text-align: left;
}
.header-bar{
font-size:40px;
padding: 10px

}
.mid-bar{
width: 50%;
font-size: 18px;

}
.button-container{
font-size: 25px;
background-color: orangered;
border: none;
padding: 13px 30px;
margin-top: 15px;
color: aliceblue;
font-weight: bold;
border-radius: 5%;
}